.root {
  margin: 0 auto;
  width: 100%;
}

.withPadding {
  padding: 0 var(--spacing-md);
}

@media (min-width: 640px) {
  .withPadding {
    padding: 0 var(--spacing-lg);
  }
}

@media (min-width: 1024px) {
  .withPadding {
    padding: 0 var(--spacing-xl);
  }
}